body {
  /* Font releated resets will always go in the 'body' */
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: $default-font-size;
  line-height: 1.7; /* Means line-height is the 1.7 times of pre-defined line-height */
  color: #777;
  padding: 3rem;
}

.heading-primary {
  color: $color-white;
  text-transform: uppercase;
  backface-visibility: hidden; /* Fix for the shaking of object when the animation ends */
  margin-bottom: 6rem;

  &--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    /* 
    In order to apply letter-spacing with text-align as center
    we will need to give the same amount of 'text-indent' as 'letter-spacing'
    */
    letter-spacing: 3.5rem;
    text-align: center;
    text-indent: 3.5rem;
    /* For setting animation we need to define 2 basic properties */
    animation-name: moveInLeft;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
  }
  
  &--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.4rem;
    text-align: center;
    text-indent: 1.4rem;
    animation: moveInRight 1.5s ease-out;
  }
}

.heading-secondary {
  display: inline-block;
  font-size: 3.5rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .2rem;
  /* To clip the background image according to the text */
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
  color: transparent;

  &:hover {
    text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
  }
}

.heading-tertiary {
  font-size: $default-font-size;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: $default-font-size;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}